.cabinet__container {
    padding-top: 220px;
    display: flex;
    justify-content: space-between;
}

.cabinet__title {
    text-align: start;
}

.add-order-btn {
    border: 0;
    border-radius: 6px;
    padding: 16px 24px;
    color: var(--color-white);
    background-color: var(--color-orange);
    cursor: pointer;
    font-size: 1.75rem;
    font-weight: 500;
}

.cabinet__side {
    width: 49%;
}

.cabinet__side_left {}

.cabinet__side_right {
    display: flex;
    justify-content: center;
}