.cabinet__body {
    background-color: var(--color-gray);
}

.cabinet__container {
    padding-top: 180px;
    display: flex;
    justify-content: space-between;
}

.cabinet__title_h2 {
    font-size: 4rem;
    margin-top: 0;
}

.cabinet__side {
    width: 49%;
}

.cabinet__side_right {
    position: relative;
    display: flex;
    justify-content: center;
}

.orders__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}