.cards {
   background-color: darkorange;
}

.cards__container {
    padding: 40px 0;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.card {
    position: relative;
    width: 40%;
    padding: 16px;
    font-weight: 500;
    transition: all 0.3s ease;
    margin-bottom: 18px;
    border: 1px solid transparent;
    border-radius: 12px;
    color: var(--color-white);
}

.card:hover {
    transform: translate(-5px, -5px);
    box-shadow: 6px 5px 10px black;
    border: 1px solid var(--color-gray-border);
}

.card__text {
    text-align: center;
    font-weight: inherit;
    margin-top: 0;
    margin-bottom: 12px;
}

.card__text_timestamp {
    font-style: italic;
    color: var(--color-gray);
    text-align: start;
}

.card__text_address {
    font-size: 1.8em;
}

.card__text_category {
    font-size: 1.5em;
}

.card__image {
    display: block;
    width: 70%;
    margin: 0 auto;
    margin-top: 0;
    border-radius: 10px;
}

