.header {
  position: absolute;
  z-index: 100;
  width: 100%;
  font-size: 24px;
  color: var(--color-white);
}

.header__container {
  padding-top: 14px;
  padding-bottom: 14px;
  background-color: rgba(0, 0, 0, 0.7);
}

.header__container_top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  cursor: pointer;
  width: 130px;
}

.header__link_enter {
  font-size: 30px;
  cursor: pointer;
  outline: none;
  padding: 4px 12px;
  background-color: transparent;
  color: var(--color-white);
  border: 3px solid transparent;
  border-bottom-color: var(--color-white);
  border-radius: 0;
  transition: all 0.4s ease-in-out;
}

.header__link_enter:hover {
  border-bottom-color: var(--color-orange);
  border-radius: 4px;
  transition: all 0.4s ease-in-out;
}

.header__links svg {
  margin-right: 12px;
}

.header__item {
  display: flex;
  align-items: center;
  font-weight: 500;
}

.header__item:not(:last-child) {
  margin-right: 40px;
}

.header__item:not(:first-child) {
  cursor: pointer;
}

.header__item:first-child {
  margin-right: 44px;
}

.nav {
  z-index: 61;
  padding: 24px 0;
  font-size: 26px;
}

.nav__link {
  color: var(--color-white);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.nav__link::after {
  content: "";
  display: block;
  margin-top: 4px;
  width: 0;
  height: 3px;
  background-color: var(--color-orange);
  transition: all 0.4s ease-out;
}

.nav__item:not(:last-child) {
  margin-right: 30px;
}

.nav__link:hover {
  color: var(--color-orange);
  transition: all 0.4s ease-in-out;
}

.nav__link:hover::after {
  width: 100%;
  transition: all 0.4s ease-in-out;
}

@media (max-width: 768px) {
  .flex-right {
    flex-wrap: wrap;
  }

  .header__item:not(:last-child) {
    margin-right: 18px;
  }

  .header__logo {
    display: none;
  }

  .header__container {
    padding-top: 18px;
    padding-bottom: 18px;
  }

  .header__container_top {
    flex-wrap: wrap;
  }

  .header__link_tel {
    display: none;
  }

  .header__link_email {
    display: none;
  }

  .nav__item {
    padding-bottom: 12px;
  }
}